@model IEnumerable<Infraestructure.Models.RubroCobro>

@{
    ViewBag.Title = "Index";
}

<h4 class="header-title">Información Rubros</h4>
<div class="data-tables datatable-dark">
    <table id="dataTableRubro" class="text-center">
        <thead class="text-capitalize">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Costo)</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="selected-row">
                    <td> @Html.DisplayFor(modelItem => item.Descripcion)</td>
                    <td> @Html.DisplayFor(modelItem => item.Costo)</td>

                    <td>
                        <a title="Editar" href="@Url.Action("Edit", "RubroCobro", new { id = item.Id })" class="btn bg-warning btn-sm px-3">
                            <i class="fas fa-edit text-white"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a title="Crear" href="@Url.Action("Create", "RubroCobro")" class="btn bg-dark"><i class="fa-solid fa-user-plus text-white"></i></a>
</div>


<script>

    $(document).ready(function () {
        $('#dataTableRubro').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            "lengthChange": false,
            "paging": false,
            responsive: true
        });
    });

</script>
