@model IEnumerable<Infraestructure.Models.Usuario>



<h4 class="header-title">Información de Usuarios</h4>

<a title="Crear Usuario" href="@Url.Action("Create", "Usuario")" class="btn mt-4 pr-4 pl-4 bg-siteColor text-white"><i class="fa-solid fa-user-plus text-white"></i>  Crear Usuario</a>

<div class="data-tables datatable-dark table-responsive">
    <table id="dataTableUsuario" class="text-center">
        <thead class="text-capitalize">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Cedula)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Nombre)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Apellido1)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Apellido2)</th>
                <th scope="col"> @Html.DisplayNameFor(model => model.Email)</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="selected-row">
                    <td> @Html.DisplayFor(modelItem => item.Cedula)</td>
                    @*  <td> @Html.DisplayFor(modelItem => item.Usuario.Nombre)</td>*@
                    <td> @Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td> @Html.DisplayFor(modelItem => item.Apellido1)</td>
                    <td> @Html.DisplayFor(modelItem => item.Apellido2)</td>
                    <td> @Html.DisplayFor(modelItem => item.Email)</td>

                    <td>
                        <a title="Detalles" href="@Url.Action("Details", "Usuario", new { id = item.Cedula })" class="btn bg-primary btn-sm px-3">
                            <i class="fas fa-eye text-white"></i>
                        </a>
                        <a title="Eliminar" href="#" class="btn bg-danger btn-sm px-3">
                            <i class="fas fa-trash text-white"></i>
                        </a>
                        <a title="Editar" href="@Url.Action("Edit", "Usuario", new { cedula = item.Cedula })" class="btn bg-warning btn-sm px-3">
                            <i class="fas fa-edit text-white"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>
@*</div>
    </div>*@
@*</div>*@
<!-- Dark table end -->

<script>

    $(document).ready(function () {
        $('#dataTableUsuario').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            "lengthChange": false,
            "paging": false,
            responsive: true
        });
    });

</script>
