@{

    var oUsuario = Session["usuario"] as dynamic;
    var notificaciones = Session["Notificaciones"] as List<Infraestructure.Models.NotificacionUsuario>;
}
<!-- main header area start -->
<div class="mainheader-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    @if (oUsuario.FK_Rol == 1)
                    {
                        <a href="@Url.Action("IndexAdmin","Home")">
                            <img class="p-2" src="~/Content/Images/logo.png" width="100" alt="logo" />
                        </a>
                    }
                    else
                    {   
                <a href="@Url.Action("IndexUsuario","Home")">
                    <img class="p-2" src="~/Content/Images/logo.png" width="100" alt="logo" />
                </a>
    
                    }
                   
                </div>
            </div>
            <!-- profile info & task notification -->
            <div class="col-md-9 clearfix text-right">
                <div class="d-md-inline-block d-block mr-md-4">
                    <ul class="notification-area">
                        <li id="full-view"><i class="fa-solid fa-maximize"></i></li>
                        <li id="full-view-exit"><i class="fa-solid fa-minimize"></i></li>

                        <li class="dropdown" id="listaNotificaciones">
                            <i class="fa-solid fa-bell dropdown-toggle" data-toggle="dropdown">
                                <span class="bg-siteColor">@notificaciones.Count</span>
                            </i>
                            <div class="dropdown-menu bell-notify-box notify-box">
                                <span class="notify-title">Sus notificaciones</span>
                                <div class="nofity-list">
                                    @if (notificaciones.Count == 0)
                                    {
                                    <div class="notify-item mb-3">
                                        <p class="text-center">Todo está tranquilo por acá...</p>
                                    </div>
                                    }
                                    @foreach (var item in (List<Infraestructure.Models.NotificacionUsuario>)notificaciones)
                                    {

                                        <div class="notify-item mb-3">
                                            <div class="notify-thumb p-2"><i class="ti-info btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>@item.Notificacion.Descripcion</p>
                                                <button class="notification-btn btn btn-sm btn-outline-secondary" value="@item.Id"><i class="fa-regular fa-eye"></i>  Marcar como leída</button>
                                            </div>
                                            <hr />
                                        </div>

                                    }


                                </div>
                                        </div>
                        </li>

                        <li class="dropdown">
                            <i class="fa fa-envelope dropdown-toggle" data-toggle="dropdown"><span class="bg-siteColor">3</span></i>
                            <div class="dropdown-menu notify-box nt-enveloper-box">
                                <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                <div class="nofity-list">
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="~/Content/Images/author/author-img1.jpg" />
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </li>
                        <li class="settings-btn">
                            <i class="fa-solid fa-gear"></i>
                        </li>
                    </ul>
                </div>
                <div class="clearfix d-md-inline-block d-block">
                    <div class="user-profile m-0">
                        @* <img src="~/Content/Images/shevas.png" width="40" height="40" />*@
                        <img src="~/Content/Images/avatar.png" />
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">@oUsuario.Nombre<i class="fa fa-angle-down"></i></h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Message</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a href="@Url.Action("Logout","Home")" class="dropdown-item">Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main header area end -->
<!-- header area start -->
<div class="header-area header-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9  d-none d-lg-block">
                <div class="horizontal-menu">
                    <nav>
                        <ul id="nav_menu">
                            <li>
                                @if (oUsuario.FK_Rol == 1)
                                {
                                    <a href="@Url.Action("IndexAdmin","Home")"><i class="ti-home"></i><span>Home</span></a>
                                }
                                else
                                {

                                    <a href="@Url.Action("IndexUsuario","Home")"><i class="ti-home"></i><span>Home</span></a>
                                }

                            </li>
                            @if (oUsuario.FK_Rol == 1)
                            {
                                <li class="">
                                    <a href="javascript:void(0)">
                                        <i class="ti-settings"></i><span>
                                            Mantenimientos
                                        </span>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            @Html.ActionLink("Usuarios", "Index", "Usuario")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Propiedades", "Index", "Propiedad")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Planes de Cobro", "Index", "PlanesCobro")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Rubros de Cobro", "Index", "RubroCobro")
                                        </li>
                                    </ul>
                                </li>
                            }
                            <li>
                                @if (oUsuario.FK_Rol == 1)
                                {
                                    <a href="@Url.Action("IndexAdmin", "Incidencia")"><i class="ti-alert"></i><span>Incidencias</span></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("IndexUsuario", "Incidencia")"><i class="ti-alert"></i><span>Incidencias</span></a>
                                }

                            </li>
                            @if (oUsuario.FK_Rol == 1)
                            {
                                <li class="">
                                    <a href="javascript:void(0)">
                                        <i class="ti-settings"></i><span>
                                            Información
                                        </span>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            @Html.ActionLink("Agregar Información", "Create", "Informacion")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Subir Archivos", "Index", "Archivo")
                                        </li>

                                    </ul>
                                </li>
                            }
                            @if (oUsuario.FK_Rol == 1)
                            {
                                <li class="">
                                    <a href="javascript:void(0)">
                                        <i class="ti-settings"></i><span>
                                            Facturación
                                        </span>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            @Html.ActionLink("Crear Facturas", "Create", "EstadoCuenta")
                                        </li>

                                    </ul>
                                </li>
                            }
                            <li>
                                <a href="javascript:void(0)"><i class="ti-slice"></i><span>icons</span></a>
                                <ul class="submenu">
                                    <li><a href="fontawesome.html">fontawesome icons</a></li>
                                    <li><a href="themify.html">themify icons</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-table"></i>
                                    <span>Tables</span>
                                </a>
                                <ul class="submenu">
                                    <li><a href="table-basic.html">basic table</a></li>
                                    <li><a href="table-layout.html">table layout</a></li>
                                    <li><a href="datatable.html">datatable</a></li>
                                </ul>
                            </li>
                            <li><a href="maps.html"><i class="ti-map-alt"></i> <span>maps</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- nav and search button -->
            <div class="col-lg-3 clearfix">
                <div class="search-box">
                    <form action="#">
                        <input type="text" name="search" placeholder="Search..." required>
                        <i class="ti-search"></i>
                    </form>
                </div>
            </div>
            <!-- mobile_menu -->
            <div class="col-12 d-block d-lg-none">
                <div id="mobile_menu"></div>
            </div>
        </div>
    </div>
</div>
<!-- header area end -->
<!-- page title area end -->
@*@section Scripts{
    <script type="text/javascript">

            // Agregar evento click a los botones de notificación
            $('.notification-btn').click(function () {
                // Obtener el valor del botón
                var idNotificacion = $(this).val();
                var idUsuario = @oUsuario.Id;
                // Hacer una solicitud AJAX al servidor
                $.ajax({
                    url: '/NotificacionUsuario/MarcarLeido',
                    type: 'POST', // o 'GET' según lo que necesites
                    data: { idNotificacion: idNotificacion, idUsuario: idUsuario }, // pasar el valor del botón como parámetro
                    success: function (response) {
                        $('#listaNotificaciones').html('');
                        $('#listaNotificaciones').html(response);
                        // Manejar la respuesta del servidor aquí
                    },
                    error: function (error) {
                        // Manejar el error aquí
                    }
                });
            });

    </script>
}*@