@model Infraestructure.Models.Factura

@{
    ViewBag.Title = "DetalleEstadoCuenta";
}
@Styles.Render("~/Cards/css")
<h2>DetalleEstadoCuenta</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">

        @* DATOS USUARIO *@
        <dt>
            @Html.DisplayNameFor(model => model.Propiedad.Usuario.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Propiedad.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propiedad.Usuario.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Propiedad.Usuario.Cedula)
        </dd>

        @* DATOS PROPIEDAD *@
        <dt>
            @Html.DisplayNameFor(model => model.Propiedad.NumPropiedad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Propiedad.NumPropiedad)
        </dd>

        @* DATOS FACTURA *@

        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @if ((bool)Model.Activo)
            {
                <span>Pagada</span>
            }
            else
            {
                <span>Pendiente</span>
            }
            @*@Html.DisplayFor(model => model.Activo)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFacturacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFacturacion)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>


<div class="cards">

    <div class="card">
        <div class="card__image-holder">
            <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>
                Card title
                <small>Image from unsplash.com</small>
            </h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="#" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { id = Model.Propiedad.Id })
</p>
