@model IEnumerable<Infraestructure.Models.Incidencias>
<table id="dataTableIncidencias" class="text-center">
    <thead class="text-capitalize">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.Fecha)</th>
            <th scope="col"> @Html.DisplayNameFor(model => model.EstadoIncidencia)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="selected-row">
                <td> @Html.DisplayFor(modelItem => item.Descripcion)</td>
                @*  <td> @Html.DisplayFor(modelItem => item.Usuario.Nombre)</td>*@
                <td> @Html.DisplayFor(modelItem => item.Fecha)</td>
                <td> @Html.DisplayFor(modelItem => item.EstadoIncidencia.Nombre)</td>
            </tr>
        }
    </tbody>
</table>