@Styles.Render("~/Content/tableData")
@model IEnumerable<Infraestructure.Models.PlanCobro>



@*<div class="col-12 mt-5">*@
    @*<div class="card">
        <div class="card-body">*@
            <h4 class="header-title">Información Planes de Cobro</h4>
            <div class="">
                <table id="dataTablePlanes" class="text-center datatable-dark">
                    <thead class="text-capitalize">
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.Descripcion)</th>
                            @*    <th scope="col"> @Html.DisplayNameFor(model => model.Usuario.Nombre)</th>*@
                            <th scope="col"> @Html.DisplayNameFor(model => model.Total)</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="selected-row">
                                <td> @Html.DisplayFor(modelItem => item.Descripcion)</td>
                                @*  <td> @Html.DisplayFor(modelItem => item.Usuario.Nombre)</td>*@
                                <td> @Html.DisplayFor(modelItem => item.Total)</td>
                                <td>
                                    <a title="Detalles" href="@Url.Action("Details", "PlanesCobro", new { id = item.Id })" class="btn bg-primary btn-sm px-3">
                                        <i class="fas fa-eye text-white"></i>
                                    </a>
                                    <a title="Eliminar" href="#" class="btn bg-danger btn-sm px-3">
                                        <i class="fas fa-trash text-white"></i>
                                    </a>
                                    <a title="Editar" class="btn bg-edit btn-sm px-3">
                                        <i class="fas fa-edit text-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        @*</div>
    </div>*@
@*</div>*@

<script>

    $(document).ready(function () {
        $('#dataTablePlanes').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
            },
            "lengthChange": false,
            "paging": false,
            responsive : true
        });
    });

</script>
