@Styles.Render("~/Content/tableData")
@model IEnumerable<Infraestructure.Models.Propiedad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<section class="intro">
    <div class="bg-image h-100">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0">
                                        <thead class="rounded bg-siteColor text-white">
                                            <tr>
                                                <th scope="col">@Html.DisplayNameFor(model => model.NumPropiedad)</th>
                                            @*    <th scope="col"> @Html.DisplayNameFor(model => model.Usuario.Nombre)</th>*@
                                                <th scope="col"> @Html.DisplayNameFor(model => model.CantPersonas)</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr class="selected-row">
                                                    <td> @Html.DisplayFor(modelItem => item.NumPropiedad)</td>
                                                  @*  <td> @Html.DisplayFor(modelItem => item.Usuario.Nombre)</td>*@
                                                    <td> @Html.DisplayFor(modelItem => item.CantPersonas)</td>
                                                    <td>
                                                        <button  type="button" id="btnObtenerUsuario" class="btn bg-primary btn-sm px-3">
                                                            <i class="fas fa-eye text-white"></i>
                                                        </button>
                                                        <button type="button" class="btn bg-danger btn-sm px-3">
                                                            <i class="fas fa-trash text-white"></i>
                                                        </button>
                                                        <button  type="button" class="btn bg-info btn-sm px-3">
                                                            <i class="fas fa-edit text-white"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-siteColor text-white">
                <h5 class="modal-title" id="exampleModalLabel">Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtId" type="hidden" value="0" />
                <div class="row g-1">

                    <div class="col-sm-6">
                        <label for="txtNumPropiedad" class="form-label">NumPropiedad</label>
                        <input type="text" class="form-control" id="txtNumPropiedad" autocomplete="off">

                    </div>
                    <div class="col-sm-6">
                        <label for="txtUsuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="txtUsuario" autocomplete="off">

                    </div>

                    <div class="col-sm-6">
                        <label for="txtCantCarros" class="form-label">Cantidad Carros</label>
                        <input type="text" class="form-control" id="txtUsuario" autocomplete="off">

                    </div>
                    <div class="col-sm-6">
                        <label for="txtCantPersonas" class="form-label">Cantidad Personas</label>
                        <input type="text" class="form-control" id="txtCantPersonas" autocomplete="off">

                    </div>


                    <div class="col-sm-6">
                        <label for="cmbEstado" class="form-label">Estado</label>
                        <select class="form-select" id="cmbEstado">
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>



    @section scripts{
        <script>


            $("#btnObtenerUsuario").click(function () {
                var id = $('.selected-row').find('td:first').text();

                jQuery.ajax({
                    url: '@Url.Action("Details", "Propiedad")',
                    type: 'POST',
                    data: JSON.stringify({ id: id }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        mostrarModal(data);
                    
                    },
                    error: function (error) {
                        console.log("falló");
                        return;
                    
                    },
                });

              

            });

            function mostrarModal(data){

                //$("#txtId").val(0);
                //$("#txtDescripcion").val("");
                //$("#cmbActivo").val(1);
                $("#mensajeError").hide();

                if (data != null) {

                    $("#txtCantPersonas").val(data.data);
                    $("#FormModal").modal("show");
                }

            }
        </script>
    }



