@model Infraestructure.Models.Informacion



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Informacion</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


<div class="form-row">

    <div class="form-group col-12 col-sm-6">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label" })
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading"></i></span>
            </div>
            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-12 col-sm-6">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-ellipsis-vertical"></i></span>
            </div>
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
</div>


    <button type="submit" class="btn bg-siteColor text-white"> <i class="fa-solid fa-plus text-white"></i> Aceptar</button>




    <a href="@Url.Action("IndexAdmin", "Home")" class="btn bg-danger text-white"><i class="fa-solid fa-x text-white"></i>  Cancelar</a>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
